    <div class="navbar-wrapper" id="navbar-main">
      <div class="container">
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand smoothScroll" href="#home">Stee.vn</a>
            </div>
            <div class="navbar-collapse collapse" id="main-nav" >
              <ul class="nav navbar-nav">
                <li><a href="#skills" class="smoothScroll">Skills</a></li>
                <li><a href="#portfolio" class="smoothScroll">Portfolio</a></li>
                <li><a href="#about" class="smoothScroll">About</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a target="_blank" class="fa fa-github-square fa-3x" href="http://www.github.com/flemdizzle" ></a></li>
                <li><a target="_blank" class="fa fa-linkedin-square fa-3x" href="http://www.linkedin.com/in/stevenhfleming/"></a></li>
                <li><a target="_blank" class="fa fa-twitter-square fa-3x" href="http://www.twitter.com/flemdizzle"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Splash
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div id="home" class="carousel-inner">
        <div class="background item active">
          <div class="container">
            <div class="carousel-caption">
              <h1 class="steven">Steven Fleming Jr</h1>
              <h2>Full-Stack Web Developer</h2>
            </div>
          </div>
        </div>
    </div>



    <!-- Skills
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row" id="skills">
        <h1 class="text-muted skills" >Skills</h1>
        <p class="lead" style="text-align: center">This is what I can do.</p>
        <div class="col-lg-4">
          <%= image_tag "full-bars.png", :class => "img-circle", :height => "140", :width => "140" %>
          <h2>Very Comfortable</h2>
            <li>Ruby on Rails</li>
            <li>Meteor.JS</li>
            <li>Angular.JS</li>
            <li>Javascript</li>
            <li>JQuery</li>
            <li>Bootstrap</li>
            <li>PostgreSQL</li>
            <li>MongoDB</li>
            <li>HTML5</li>
            <li>CSS3</li>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <%= image_tag "half-bars.png", :class => "img-circle", :height => "140", :width => "140" %>
          <h2>Learning</h2>
            <li>Knockout.JS</li>
            <li>Backbone.JS</li>
            <li>Node.JS</li>
            <li>TDD</li>
            <li>RSpec</li>
            <li>Capybara</li>
            <li>Jasmine</li>
            <li>Artoo</li>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <%= image_tag "empty-bars.png", :class => "img-circle", :height => "140", :width => "140" %>
          <h2>Want to learn</h2>
            <li>RubyMotion</li>
            <li>MySQL Workbench</li>
            <li>Ember.JS</li>
            <li>React.JS</li>
            <li>Meta Programming</li>
            <li>Gem Programming</li>
            <li>Building Node and Meteor Packages</li>
            <li>Headless Browsing</li>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- Portfolio -->

      <hr class="featurette-divider">

      <div class="row featurette" id="portfolio">
        <div class="col-md-7">
          <h1 class="featurette-heading text-muted">Portfolio</h1>
          <p class="lead">These are the things that I build<br><strong>Stee.vn built using Ruby on Rails, PostgreSQL, HTML5, CSS3, jQuery, LocalScroll, and Bootstrap.</strong></p>
        </div>
        <div class="col-md-5">
          <a target="_blank" href="" ><%= image_tag "placeholder.png", :class => "featurette-image img-responsive project" %></a>
        </div>
      </div>
<!-- Better Metro -->
      <div class="row featurette move">
        <div class="col-md-5 one">
          <a target="_blank" href="http://bettermetro.meteor.com"><%= image_tag "better_metro.png", :class => "featurette-image img-responsive project" %></a>
        </div>
        <div class="col-md-7 two">
          <h1 class="featurette-heading text-muted">Better Metro</h1>
          <p class="lead">This application provides streaming train arrival data on a custom Google Map based on the users current location. The data is provided by the WMATA API and the Geolocation service is provided by the W3 Coalition Geolocation API<br><strong>Built with Meteor.JS, MongoDB, Node.JS, Javascript, JQuery, Underscore.JS, Google Maps API, WMATA API, and W3 Coalition Geolocation API</strong></p>
        </div>
      </div>
<!-- Tomotodoro -->
      <div class="row featurette">
        <div class="col-md-7">
          <h1 class="featurette-heading text-muted">Tomatodoro</h1>
          <p class="lead">This Pomodoro timer provides a task manager in the form of a single page responsibe UI. Users also have access to responsive real time data visualization for their completed tasks generated by Highcharts.<br><strong>Built with Angular.JS, Ruby on Rails, PostgreSQL, Javascript, JQuery, HTML5, CSS3, Bootstrap, and Highcharts</strong></p>
        </div>
        <div class="col-md-5">
          <a target="_blank" href="http://lit-anchorage-2149.herokuapp.com/"><%= image_tag "tomotodoro.png", :class => "featurette-image img-responsive project" %></a>
        </div>
      </div>
<!-- Node.JS Web Scraper -->
      <div class="row featurette move">
        <div class="col-md-5 one">
          <a target="_blank" href="https://github.com/flemdizzle/Web_Scraper"><%= image_tag "http://i.imgur.com/hHEAcIm.png", :class => "featurette-image img-responsive project" %></a>
        </div>
        <div class="col-md-7 two">
          <h1 class="featurette-heading text-muted">Web Scraper</h1>
          <p class="lead">This simple web scraper iterates through an array of yelp pages and scrapes content off the page and compiles it in to a JSON file.<br><strong>Built with Node.js, Express.js, Cheerio, and Javascript</strong></p>
        </div>
      </div>
<!-- Bike Map DC -->
      <div class="row featurette">
        <div class="col-md-7 two">
          <h1 class="featurette-heading text-muted">Senior Navigator</h1>
          <p class="lead">Built during Capital One's Creating 4 Communities Hackathon, an event aimed at helping small Non-Profits migrate existing static HTML/PHP websites to more manageable CMS based websites. I was responsible for building the "feature image scroller", a "sponsor carousel", and two dynamically updating pages of the site.<br><strong>Built with Wordpress, Various WP Plugins, HTML5 and CSS3.</strong></p>
        </div>
        <div class="col-md-5 one">
          <a target="_blank" href=""><%= image_tag "senior_nav.png", :class => "featurette-image img-responsive project" %></a>
        </div>
      </div>

      <hr class="featurette-divider">
      <!-- About -->
      <div class="row featurette" id="about">
        <div class="col-md-5">
          <%= image_tag "walking.png", :class => "featurette-image img-responsive" %>
        </div>
        <div class="col-md-7">
          <h1 class="featurette-heading text-muted">Who am I?</h1>
          <p class="lead bold">There is a lot of stuff to know about me...</p>
          <p>That being said I was born and raised in Arlington, Virginia and spent most of my life here enjoying everything the DC Area has to offer.  Eventually I went to Prep School in Connecticut and then I moved to Walla Walla, Washington where I got a Bachelors Degree in Geology.<br> 
          After graduation I spent the next 3 years as a consultant traveling the United States visiting various colleges and universities working to improve their Greek Systems. I visited UGA, U of Montana, UCLA, UCI, Syracuse and Northeastern University among a bunch of other schools.<br>
          Today I find myself once again back in Arlington living with my beautiful girlfriend and spending all of my free time working on various programming projects. My goals right now are to work on exciting projects, solve super hard problems, and to stay on top of all the new technologies in the Web Development world.
          </p>
        </div>
      </div>
    </div><!-- /.container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->